.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.fighters-grid {
  display: flex;
  flex-wrap: wrap;
  width: calc(205px*4);
  gap: 5px;
}

.fighters-grid div {
  width: 200px;
  position: relative;
  transition: transform 0.3s;
  background-color: slategray;
}

.fighters-grid div:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.fighter-name {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.8em;
  color: white;
  text-shadow: 2px 2px #000;

  text-transform: uppercase;
}

.fighter-img {
  width: 200px;
  height: auto;
}

#fighter-screen {
  position: fixed; 
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: lightgreen;
  z-index: 1;
}

.fighter-model {
  
}